* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Popins", sans-serif;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
  display: block;
}

.header-container {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
}

header h1 {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 80px;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 283px;
  height: 52px;
  color: #42d3ff;
  margin-top: 24px;
}

.main-container {
  margin: 0 auto;
  margin-top: 42px;
  padding: 64px;

  width: 736px;
  height: 1430px;

  background: #fafafc;
  border-radius: 8px 8px 0px 0px;
}

fieldset {
  border: none;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

legend {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.input-text,
.input-link,
.whasst,
.information,
.category,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input-text label,
.input-link label,
.whasst label,
.information label,
.category label,
.email label,
.password label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}

.input-text span,
.input-link span,
.whasst span,
.email span,
.password span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;
  margin-left: 12px;
}

.input-text span:hover {
  color: #828086;
}

.input-text input,
.input-link input,
.whasst input,
.email input,
.password input {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  width: 608px;
  height: 56px;
  padding: 24px;
}

.input-link span:hover {
  color: #828086;
}

.whasst span:hover {
  color: #828086;
}

.email span:hover {
  color: #828086;
}

.password span:hover {
  color: #828086;
}

.information textarea {
  width: 608px;
  height: 168px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  padding: 10px;
}

.category select {
  width: 608px;
  height: 56px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  padding: 10px;
  appearance: none;
  background-image: url("data:image/svg+xml, %3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.private {
  margin-top: 48px;
}

.check label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
  cursor: pointer;
}

.check input {
  opacity: 0;
}

.check label::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: #fafafc;
  border: 1px solid #bbbbcf;
  border-radius: 8px;
}

.check input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.date-hora {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.date,
.time-1,
.time-2 {
  display: flex;
  flex-direction: column;
}

.date input {
  width: 312px;
  height: 56px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  padding: 20px;
}

.date label,
.time-1 label,
.time-2 label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4e4958;
}

.time-1 input,
.time-2 input {
  width: 128px;
  height: 56px;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
  padding: 18px;
}
.button {
  background: #fafafc;
  width: 736px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

button {
 
  padding: 15px 40px;


  width: 608px;
  height: 56px;

  background: #04d361;
  border-radius: 8px;
}
