* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Popins", sans-serif;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
  display: block;
}

.header-container{
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  
  
}

header h1 {
  color: #e5e5e5;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 80px;
}

header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 283px;
  height: 52px;
  color: #42d3ff;
  margin-top: 24px;
}

.main-container {
  margin: 0 auto;
  margin-top: 42px;
  padding: 64px;
  

  width: 736px;
  height: 1430px;
  

  background: #fafafc;
  border-radius: 8px 8px 0px 0px;
}
